body { 
    margin: 0 auto; 
    max-width: 30em;
}

html {
    background: url("/resources/footer_lodyas/footer_lodyas.png") repeat;
    color: hsl(0, 0%, 90%);
}

.banner {
    border: 0 solid hsl(0, 0%, 90%);
    opacity: .3;
}