---
layout: post
---

{% assign book = page %}

<link rel="stylesheet" href="/lib/oocss/panel.css">

<div itemscope itemtype="https://schema.org/Book" class="panel">

    <div class="panel-left">
        <img class="book-cover" src="{{book.cover}}" />
    </div>

    <div class="panel">
        {% if book.title %}<h2>{{book.title}}</h2>{% endif %}
        {% if book.subtitle %}<h3>{{book.subtitle}}</h3>{% endif %}
        <p>by <span>{{ book.author }}</span> ISBN {{book.isbn}}</p>

        {{ book.content | markdownify }}
    </div>
    
</div>